*{
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  margin: 0;
  background-color: #333;
}

main{
  padding-block-start: 30px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}