.btn {
  display: inline-block;
  padding: 5px;
  background-color: #25292b;
  border-radius: 15px;
  border: 2px solid #78aedc;
  cursor: pointer;
  transition: .3s;
  color: white;
}

.btn:hover {
  background-color: #2f363e;
}

/* SAVED MEMES */
.saved-memes article button {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.saved-memes article button:hover {
  background-color: rgb(142, 142, 142);
  font-weight: bold;
}

/* GALLERY */
.btn-upload-img {
  width: 100%;
  height: 100%;
}

/* EDITOR CONTROLS */

.editor input:focus {
  outline: none;
}

.editor-input {
  background-color: #2f3339;
  color: #fff;
  border: 1px solid #82e8cc;
  border-radius: .75em;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: background-color .2s;
}

.editor-input:hover {
  background-color: #7394c6;
  color: #fff;
  border-color: #fff;
}

.editor-input.input-text {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 2em;
}

.editor-input.input-text::placeholder{
  color: #fff;
}

.editor-input.emoji-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 1.5rem;
  transition: .3s;
}

.editor-input.emoji-btn:hover {
  transform: scale(1.3);
}

.editor-input[type="color"] {
  padding: .5rem;
}

.editor-typography>* {
  padding: 3px;
}

.btn-save {
  background-color: #37cd77;
}

.btn-download {
  background-color: #4498d0;
}

.btn-share {
  background-color: #9e79cd;
}

.fa-square-facebook {
  transform: scale(1.4);
  margin-inline-end: 5px;
}