.editor {
  background-color: #666;
  border-radius: 1rem;;
}

canvas {
  border: 2px solid #c1c1c1be;
  border-radius: 15px;
}

/* EDITOR CONTROLS */

.editor .controls-card {
  background-color: #222;
  border-radius: 15px;
}

.color-picker {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-input[type="color"] {
  position: absolute;
  height: 0;
  opacity: 0;
  pointer-events: none;
  width: 0;
}