.gallery article{
  position: relative;
  width: 100%;
}

.gallery img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

/* GALLERY CONTROLS */
.gallery-controls{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gallery-controls>*{
  width: 100%;
}

.search-container input,
.gallery-controls .btn-randomize{
  padding: 5px;
  font-size: 16px;
  border: 2px solid rgb(120, 174, 220);
  border-radius: 15px;
  background-color: #222;
  color: white;
}

.gallery-controls .btn-randomize{
  max-width: 120px;
}

.gallery-controls .search-container input{
  flex: 1;
  padding-inline-start: 10px;
}

.gallery .btn-upload-img{
  display: flex;
  font-size: 1rem;
}

.btn-upload-img .upload-icon{
  display: block;
  font-size: 3.5em;
  COLOR: #616c77;
}
