.gallery article {
  position: relative;
  width: 100%;
}

.gallery img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

/* GALLERY CONTROLS */
.search-container input,
.gallery-controls .btn-randomize {
  padding: 5px;
  font-size: 16px;
  border: 2px solid rgb(120, 174, 220);
  border-radius: 15px;
  background-color: #222;
  color: white;
}

.gallery-controls .keywords-search-bar {
  font-size: 14px;
  line-height: 2.5rem;
  border-radius: 2rem;
  padding: .5rem;
  border: 2px solid rgb(120, 174, 220);
  background-color: #222;
  color: white;
}

.gallery-controls .search-container input {
  flex: 1;
  padding-inline-start: 10px;
}

.gallery .btn-upload-img {
  display: flex;
  font-size: 1rem;
}

.btn-upload-img .upload-icon {
  display: block;
  font-size: 3.5em;
  COLOR: #616c77;
}